<mat-toolbar>

  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
  </button>

  <span style="margin: 50px">Element-FrontEnd</span>

<!--  <a class="rout" [routerLink]="['login']">Login</a>-->
  <a class="rout" routerLink="page01" routerLinkActive="active-link">Page 1</a>
  <a class="rout" routerLink="page02" routerLinkActive="active-link">Page 2</a>
  <a class="rout" routerLink="page03" routerLinkActive="active-link">Page 3</a>


  <span class="example-spacer"></span>

  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>

  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>

</mat-toolbar>
