.container {
  margin: 20px;

  .table {
    margin: 30px;
    border: 1px solid #9999;
    box-shadow: 4px 3px 10px 1px #ebebeb;
    border-collapse: collapse;

    tr{
      border-bottom: 1px solid #9999;
    }
    td, th {
      padding: 10px;
    }
  }

}
